# Jupyter Notebook checkpoints & cache
.ipynb_checkpoints/
__pycache__/

# Virtual Environments
.venv/
env/
.env

# Ignore local datasets
data/

# Ignore Jupyter checkpoint folders
.ipynb_checkpoints/

# Ignore hidden macOS system files
.DS_Store

# OS specific files
.DS_Store
Thumbs.db